body {
    background-color: #9fd0d0;
    font-family: "Times New Roman", serif;
    font-size: 13px;
    width: 650px;
    margin: 20px auto;
    padding: 10px 15px;
    border: 2px solid gray;
}

h1 {
    font-size: 20px;
}



img {
    width: 250px;
    border: 2px solid black;
}

.links {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
.rechts {
    float: right;
    margin-left: 15px;
    margin-bottom: 20px;
}